/*------------------------------------------------
INITIAL SETUP FOR THE BODY 
-------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #555;

  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  /*CHANGE TO 16px BEFORE PUBLISHING*/
  font-size: 1vw;

  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* HEADINGS */

h1,
h2,
h3{
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  
  position:relative;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: .5vw;
  position: relative;
  font-size: 350%;

  color: #fff;
  word-spacing: .25vw;
  letter-spacing: .16vw;
  text-align: center;
}

/*------------------------------------------------
REUSABLE COMPONENTS
-------------------------------------------------*/

.row {
  max-width: 100%;
  margin: 0;
}

section {
  margin: 0;
  padding: 0;
}

.box {
  padding: 1%;
}

p {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
}

/*------------------------------------------------
HEADER 
-------------------------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(resources/img/compressed_img/Taiwanese_menu_meal_compressed.jpg);
  /*to show the whole image*/
  background-size: cover;
  /*center the background image*/
  background-position: center;
  /*below means 100% of the view port*/
  height: 100vh;
  width: auto;
  background-attachment: fixed;
  justify-content: center;
}

.header-body-text {
  text-align: center;

  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 140%;

  color: #dfe6e9;
}

.header-body-text span {
  position: relative;  
}

.chinese-heading {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 200;
  font-size: 250%;
  
  color: #fff;
  
  text-align: center;
  padding-bottom: 1.5vw;
}

/*Used to create the lines that are on either side of the body text*/

.header-body-text span:before,
.header-body-text span:after {
  content: "";
  position: absolute;
  height: .7vw;
  border-bottom: 1px solid #CEA0E4;
  border-top: 1px solid #CEA0E4;
  top: .5vw;
  width: 15vw;
}

.header-body-text span:before {
  right: 100%;
  margin-right: 1vw;
}

.header-body-text span:after {
  left: 100%;
  margin-left: 1vw;
}

.hero-text-box {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Main Navigation Bar*/

.main-nav {
  width: auto;
  padding: 2vw;
  text-align: center;
  float: center;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  color: #fff;
  margin-left: 4vw;
  padding: 1vw 1vw;
  font-size: 115%;
  text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  border-bottom: 0.2vw solid transparent;
  
}

.main-nav a:hover,
.main-nav a:active {
  padding-bottom: .5vw;
  border-bottom: 0.05vw solid #CEA0E4;
  transition: 0.2s;
}

.logo {
  height: 10vw;
  width: auto;
  float: left;
  margin-top: 20px;
}


/*------------------------------------------------
HOME PAGE PART 2 INTRODUCTION
-------------------------------------------------*/
.introduction {
  position: absolute;
}

.introduction h2 {
  float: left;
 
  font-size: 200%;
  letter-spacing: px;
  
  height: auto;
  width: 100%;
  margin: 0 2vw 0 2.5vw;
  padding: 2vw 0 1vw 1vw;
}

.introduction h2:after {
  
  display: block;
  height: .05vw;
  background-color: #CEA0E4;
  content: " ";
  width: 6vw;
  margin: .7vw .2vw .7vw .5vw;
  
}

.introduction p {
  height: 100%;
  width: auto;
  margin: 0 .8vw 0;
  padding: 2.7vw;
  line-height: 1.5;
  
}

.introduction .row {
  margin: 0;
  padding: 0;
  height: auto; 
  width: auto;
}


/*PHOTOS OF FOOD*/

section .meals {
  margin: 0;
  padding: 0;
}

.meals-showcase {
  display: block;
  list-style: none;
  height: 100%;
  width: 100%;
}

.meals-showcase li {
  margin: 0;
  float: left;
  width: 50%;
  height: 50%;
}

.meal-photo { 
  margin: 0;
  overflow: hidden;
  height: auto;
  background-color: #fff; 
}

.meal-photo img {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}


.meal-photo img:hover {
  opacity: 0.7;
  transform: scale(1.03)
}

/*------------------------------------------------
MOBILE FRIENDLY @MEDIA SCREEN ADJUSTMENTS
-------------------------------------------------*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
  header {
    transform: scale(1);
  }
  
  h1 {
    font-size: 70px;
  }
  
  .header-body-text {
    font-size: 40px;
  }
  
  .chinese-heading {
    font-size: 60px;
  }
  
  .main-nav {
    font-size: 35px;
  }
  
  .introduction h2 {
    font-size: 55px;
  }
  
  .introduction p {
    font-size: 35px;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {
  header {
    transform: scale(1);
  }
  
  h1 {
    font-size: 60px;
  }
  
  .header-body-text {
    font-size: 30px;
  }
  
  .chinese-heading {
    font-size: 55px;
  }
  
  .main-nav {
    font-size: 25px;
  }
  
  .introduction h2 {
    font-size: 55px;
  }
  
  .introduction p {
    font-size: 35px;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
  header {
    transform: scale(1);
  }
  
  h1 {
    font-size: 55px;
  }
  
  .header-body-text {
    font-size: 25px;
  }
  
  .chinese-heading {
    font-size: 50px;
  }
  
  .main-nav {
    font-size: 25px;
  }
  
  .introduction h2 {
    font-size: 50px;
  }
  
  .introduction p {
    font-size: 25px;
  }
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  header {
    transform: scale(1);
  }
  
  h1 {
    font-size: 40px;
  }
  
  .header-body-text {
    font-size: 20px;
  }
  
  .chinese-heading {
    font-size: 35px;
  }
  
  .main-nav {
    font-size: 15px;
  }
  
  .introduction h2 {
    font-size: 30px;
  }
  
  .introduction p {
    font-size: 20px;
  }
}

}